* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* This ensures padding and border are included in the total width and height of an element */

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;     /* To prevent unintended scrollbars */
}

#left-page, #right-page {
    height: 100%;         /* Full screen height */
    width: 50%;           /* Half screen width */
    float: left;          /* This makes them sit side by side */
}

#right-page {
    display: flex;
    flex-direction: column;

    margin: 0px;
    padding: 0px;
    background-color: #92A239;
}

#right-page-top {
    display: flex;
    flex-direction: column;

    padding: 50px;
}

#right-page-middle {
    background-color: #D1D899;
}

#left-page {
    /* Setting the background image */
    background-image: url("images/shubham-dhage-05rC4c5-oWw-unsplash.jpg");
    
    /* Some other useful background properties */
    background-repeat: no-repeat;        /* Ensures the image doesn't repeat */
    background-size: cover;              /* Makes the image cover the entire section */
    background-position: center center;  /* Centers the image */
}